html{
    font-size:18px ;
    color: black;
}
a{
    text-decoration: none;
    color: #A9A9A9;
}
img{
    width: 237px;
    height: auto;
}

/* HEADER*/
header{
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
    margin-left: 13em;
}

.title h1{
    font-size:  36px ;
    font-style: normal;
    font-family: 'PT Serif', serif;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.045em;
}

.presentation h2{
    width: 117px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
}

.presentation h3{
    width: 439px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

/* MAIN */

#container-members{
    max-width: 925px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3em;
    margin-left: 25%;
}
/*members*/
.membername{
    margin: auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.memberjob{
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    position: relative;
    left: 240px;
    top: -370px;
    writing-mode: vertical-rl;
    text-orientation: sideways;
}
#member2, #member5{
    margin-top: 6em;
}

/*footer*/
footer{
    display: flex;
    justify-content: center;
    margin-top: 4.5em;
}

@media (max-width:800px) {
    
    img{
        width: 138px;
    }

    header{
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .title{
        width:278px;
    }

    #container-members{
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        margin-top: 2em;
    }
    .membername{
        font-size: 14px;
    }
    .memberjob{
        position: relative;
        left: 140px;
        top: -227px;
    }
    #member3,#member5{
        margin-top: -3.5em;
    }
   
}