$backcolor:#181719;
$lettercolor:white;

body{
    background-color: $backcolor;
    color: $lettercolor;
}

/*Fonts*/

#leftbotton{
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}
nav{
    p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
    }
}

.container-text{
    h1{
        font-family: 'Lora';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 46px;
    }

    #main-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }

    #read-more{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
    }
}

.container-designer{
    #author-name{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
            }

    #author-job{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        color: #828282;
    }

    h2{
        font-family: 'Lora';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
    }
}

footer{
    a{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #A9A9A9;
    }
}

/*Menu*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav{
        display: none;
        position: fixed;
        inset: 0 0 0 0;
        z-index: 10;
        background-color: #181719;
        height: 100%;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.7rem;

        p:hover{
           text-decoration: underline;
           text-underline-offset: 0.7rem;
            
        }
    }
    #leftbotton{
        border: 1px solid;
        border-color: white;
        padding: 0.5rem;
    }
    .menu-icon{
        display: none;
    }
   
    .close-btn{
        display: none;
    }
    

}

main{
    .main-container{
        display: flex;
        flex-direction: column;
        
        #main-text{
            width:14rem ;
        }
        .container-image{
            #home{
               width:22.5rem;
               margin: auto;
            }
        }
    
    }


    .container-designer{
        width: 19rem;
        margin-bottom: 2rem;
        z-index: 2;
        background-color: $backcolor;
        position: relative;
        left: 3rem;
        bottom: 3rem;
        display: flex;
        flex-direction: column;

        h2{
            width: 12rem;
        }
        .designer{
            margin: 0.5rem;
            img{
                width: 4rem;
                aspect-ratio: 1/1;
                border-radius: 50%;
            }

            display: flex;
            justify-content: flex-start;
            gap: 0.75rem;

        }
    }
    
}














footer{
    display: flex;
    justify-content: center;
}